html {
	font-family: arial;
	font-size: 16px;
}
body {
	width: 744px;
	margin: 30px auto;
	position: relative;
	/*background: #77bdaf;*/
	/*background: #7793bc;*/
	background-color: #eeeeff;
	background-image: -moz-linear-gradient(100% 100% 70deg, #eef, #eef, #7793bc, #7793bc);
	background-image: -webkit-gradient(linear, 100% 0%, 30% 30%, from(#7793bc), to(#eef));
	background-repeat: no-repeat;
}
aside {
	width: 205px;
	float: right;
	padding-top: 48px;
	padding-left: 10px;
}
#index aside h2 { margin: 0; padding-left: 5px; }
#index aside hr { height: 2px; color: #888 }
aside #tweets {
	/*background: #dedede;*/
	border: 2px solid #cccccc;
	/*padding: 3px;*/
	font: 10px Verdana,Geneva,sans-serif;
}
aside #tweets div {
	border-bottom: 1px dotted #dddddd;
	padding: 5px;
}
aside #tweets span {
	font-size: 8px;
color: #8888ff;
}
#index h1 { font-size: 150%; }
#index h2 { font-size: 125%; margin-top: 50px; }
#index h3 { font-size: 110%; }

#head {
	/*background: blue;*/
	width: 400px;
	min-height: 320px;
	_height: 320px;
}
#headshot {
	position: absolute;
	right: 30px;
	top: 0;
}

#looking_for {
	position: relative;
	/*margin-top: 20px;*/
}

#clientlist {
	list-style: none;
}

#copyright {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	color: #000;
	background: #FFF;
	text-align: right;
	opacity: .50;
	-moz-opacity: .50;
	filter: alpha(opacity=10);
}
#copyright p {
	margin-top: 5px;
	margin-bottom: 2px;
}
