---
layout: home
title: KevinGustavson.info
---

    <div id="head">
      <h1>
        Kevin Gustavson<br />
        Batavia, Illinois
      </h1>

      <h2>About Me</h2>
      <ul>
        <li>Live in the western suburbs of Chicago.</li>
        <li>Have a passion for computers and technology.</li>
        <li>Family man with a loving wife and two young daughters.</li>
        <li>When not coding, I enjoy good books and photography.</li>
        <li>Manage a team of volunteers who run the sound ministry at a local church.</li>
      </ul>

      <img id='headshot' src='img/headshot.png' alt="Photo of Kevin" />

      <p id="contact-form">Want to know more? <a href="#" class="contact">Send me a message</a></p>
      <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85">
          <param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" />
          <param name="wmode" value="transparent" />
          <param name="FlashVars" value="id=29c54367d75bf41b2ca05c855d62cedc22b0b444&style=0" />
          <object type="image/gif" data="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            transparent gif
          </object>
      </object>
    </div>
    <hr />

    <div id="content">
      <aside>
        <h2>Recent Blog Posts</h2>
        <ul class="posts">
          {% for post in site.posts %}{% if forloop.index < 5 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}{% endfor %}
        </ul>
      </aside>

      <h2>Professional Expertise</h2>

        <p>
          I work as a software developer with <a href="http://www.straightnorth.com"
          target="_blank">Straight North</a> in Downers Grove, Illinois.  I
          am a web developer with strong skills in PHP.  I have years of
          experience in systems, development and testing.  In 2007, I left
          my then current job to focus on developing web applications. I love it!
        </p>

        <p>
          A complete listing of my skills as well a history of the
          wonderful employers I've worked for is available on my
          resume.*
        </p>

        <h3>Skills</h3>
        <p>
          I have an extensive background with many skills. A few highlights
          would include PHP development, managing databases, testing software,
          and working with Windows and Linux servers. See some of my <a
          href="code_samples.html">code samples</a>. I also have some older,
          incomplete, examples of <a href="web_applications.html">web
          applications</a> I've worked on.
        </p>
      </div>

      <div id="clients">
        <h2>Freelance Work</h2>
        <p>I do a little freelance work with some fun clients. There is a list of
        clients and descriptions on my resume.</p>
      </div>

      <p class="footnote">* Currently, resumes are available only on request.</p>
      <!--
        <a href='Gustavson%20Resume%202010%20-%20Online%20Version.pdf'>PDF</a> and <a href="resume.html">HTML</a> formats are available here.  Microsoft Word format is available on request.</p>
      -->
    </div>


