<!DOCTYPE html>
<html lang="en">
<!-- vim: set et fenc= ff=unix sts=4 sw=4 ts=4 : -->
<head>
    <title>Kevin Gustavson.info</title>
    <meta name="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="Description" content="A portofolio page for Kevin Gustavson" />
    <meta name="language" content="en-US" />
    <meta name="Abstract" content="" />
    <meta name="Author" content="Kevin D. Gustavson" />
    <meta name="Copyright" content="Copyright 2010 Kevin D. Gustavson" />
    <meta name="Designer" content="Kevin D. Gustavson" />
    <meta name="keywords" content="Kevin Gustavson, Resume, Portfolio" />
    <meta name="Title" content="Kevin Gustavson" />
    <meta name="robots" content="All" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="MFBSR9aVsmiuLRM_8SASZOpX7kmdpqwKYCuALW0p6mw" />

    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/baguetteBox.css" />
</head>
{% if page.id %}
<body id="{{ page.id }}">
{% else %}
<body id="index">
{% endif %}
    <div id="container">
        <a href="/" id="header">KevinGustavson.info</a>
        {{content}}
    </div>
    <div id="copyright"><p>Copyright 2010-18 Kevin Gustavson</p></div>

    <script type="text/javascript" src="/js/baguetteBox.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3341219-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-3341219-5');
    </script>
</body>
</html>
